body{
    background-color: #f1fbff;
}


.carousel-inner:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.233);
    z-index: 1;
}

.carousel-caption{
    bottom: 200px;
    z-index: 2;
}

.carousel-item{
    height: 100vh;
}
.carousel-caption h5{

    font-size: 45px;
    margin-top: 25px;
    text-transform: uppercase;
}